* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Exa", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background: #212120;
  color: #ffffff;
  min-height: 100vh;
}
